.grid-container-about {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(3, auto); /* Adjusted to have three rows */
    grid-gap: 1rem;
    width: 75%;
    margin: 0 auto;
  }



  .row-one-column-one {
    grid-row: 1; /* Places this div in the first row */
  }



  .deliah-image,
  .bouquet-about-pic {
    max-width: 450px;
    height: auto;
  }



  .image-row {
    grid-row: 2;
  }

  .image-two {
    
  }

  .about-text {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center; /* This will center the content vertically */
    align-items: flex-start; /* This will align the text to the start of the axis, which is the left side in this case */
    height: 100%;
  }
