.grid-container {
    display: grid;
    width: 100%;
    height: 80vh;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .first-column-first-square,
  .first-column-second-square {
    grid-column: 1;
    height: calc(40vh - 5px);
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #E0CACA;
    border-radius: 12px;

  }

  .second-column-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2 / 3;
    align-items: stretch;
    grid-row: 1 / span 2;
    border-radius: 12px;

  }

  .rectangle {
    border: 1px solid #ccc;
    flex-grow: 1;
    margin: 5px 0;
    background-color: #E0CACA;
    border-radius: 12px;

  }

  .third-column-first-square {
    grid-column: 3;
    grid-row: 1;
    height: calc(40vh - 5px);
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #E0CACA;
    border-radius: 12px;

  }

  .third-column-second-square {
    grid-column: 3;
    grid-row: 2;
    height: calc(40vh - 5px);
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #E0CACA;
    border-radius: 12px;
  }
