.grid-container-home {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .p {
    margin: 40px;
  }



  .first-column-first-square-home,
  .third-column-first-square-home {
    grid-column: 1 / span 2;
    grid-row: 1;
    height: calc((95vh - 10px) / 2);
    /* border: 1px solid #ccc; */
    border-radius: 12px;
    outline-offset: -2px;
    position: relative;
    margin-bottom: 45px;

  }

  .first-column-second-square-home,
  .second-column-square-home,
  .third-column-second-square-home {
    height: calc((95vh - 10px) / 2);
    box-sizing: border-box;
    border-radius: 12px;
    position: relative;
  }

  .arrows {
    margin: 10px;
    width: 50px;
    height: auto;
    margin-bottom: 20px;
    }

  .flowers-text-overlay {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    z-index: 10;
    margin-top: 30px;
    margin-left: 20px;
  }
  .flowers-text-overlay h2 {
    font-family: 'RoadRunner', sans-serif;
  }

  .watercolors-text-overlay {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin-top: 30px;
    margin-left: 20px;
  }

  .watercolors-text-overlay h2 {
    font-family: 'RoadRunner', sans-serif;
  }



  .classes-text-overlay {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    margin-top: 30px;
    margin-left: 20px;
  }
  .classes-text-overlay h2 {
    font-family: 'RoadRunner', sans-serif;
  }




  .third-column-first-square-home {
    grid-column: 3;
    border-radius: 12px;

  }

  .third-column-rectangles-home {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    grid-column: 3;
    grid-row: 1;
    height: calc((80vh - 10px) / 2);
    /* border: 1px solid #ccc; */
    box-sizing: border-box;
    border-radius: 12px;

  }

  /* Styles for the individual rectangles */
  .rectangle-home {
    border: 1px solid #ccc;
    box-sizing: border-box;
  }


  .home-bouquet-image {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    grid-column: 1 / span 2;
    grid-row: 1;
    border-radius: 12px;
  }

  .jackson-square-image {
    width: 100%;
    height: 100%;
    grid-column: 1 / span 2;
    grid-row: 1;
    border-radius: 12px;


  }





  .teaching-square-image {
    width: 100%;
    height: 100%;
    grid-column: 1 / span 2;
    grid-row: 1;
    border-radius: 12px;
  }

  .shed-square-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    grid-column: 1 / span 2;
    grid-row: 1;

  }

  .flowers-orders-square-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column: 1 / span 2;
    grid-row: 1;
  }
