/* ------------------------------- css for navbar(all pages): */
@font-face {
  font-family: 'RoadRunner';
  src: url('./common/TAYRoadRunner (2).otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'RoadRunner', 'Onest', -apple-system, BlinkMacSystemFont, ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FDF1F1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  border-radius: 12px;
}

.nav-link.active {
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: #F9C9C9;
}

.nav-link.active img {
  margin-right: 5px;
  display: inline-block;
}

.nav-link.active:hover {
  background-color: #F8B4B4;
  border-radius: 12px;
}

.nav-link:hover:not(.active) {
  background-color: white;
}

.nav-link img {
  display: none;
}

.nav-link.active img {
  display: inline-block;
}


/* ------------------------------------ footer css (all pages):*/

.footer {
  background-color: #FCDDDD;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  margin-top: 190px;
  font-family: Onest;
}

.nav-link-footer {
  border-radius: 12px;
  display: inline;
  text-decoration: none;
  color: black;
  padding: 4px;
}

.nav-link-footer.active {
  border-radius: 12px;
  background-color: #F9C9C9;
}


.nav-link-footer.active:hover {
  background-color: #F8B4B4;
  border-radius: 12px;
}

.nav-link-footer:hover:not(.active) {
  background-color: white;
}







.footer-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}



.footer-brand {
  display: flex;
  align-items: center;
}

.footer-first-column {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: flex-start;
  grid-column: 1;
  height: 100%;
  margin-left: 20px;
}

.footer-first-column ul,
.footer-second-column ul {
  list-style: none;
  padding: 0;
  margin: 0 0 10px 0;
  flex-direction: column;
  gap: 20px;
}

.footer-first-column ul li,
.footer-second-column ul li {
  margin-bottom: 10px; /* Adjust this value so it's the same for both columns */
}




.footer-newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #baa9a9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  grid-column: 3;
  margin: 20px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
}

.newsletter-input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.newsletter-button {
  padding: 10px;
  background-color: #faa;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  align-items: flex-start;
  /* display: inline-block; */
  width: 150px;
}

.newsletter-button:hover {
  background-color: #f88;
}









/* css for flowers page (also generic grid layout!): --------------------------------*/






/* ------------------------------css for home page: -*/




/* -------------------------------------------  css for about page: */
