/* body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #FDF1F1;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .nav-link {
    border-radius: 8px;
  }

  .nav-link.active {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: #F9C9C9;
  }

  .nav-link.active img {
    margin-right: 5px;
    display: inline-block;
  }

  .nav-link.active:hover {
    background-color: #F8B4B4;
    border-radius: 8px;

  }


  .nav-link:hover:not(.active) {
    background-color: transparent;
  }

  .nav-link img {
    display: none;
  }

  .nav-link.active img {
    display: inline-block;
  }


  /* end nav css --------------------------------*/


  /* .grid-container {
    display: grid;
    width: 100%;
    height: 80vh;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .first-column-first-square,
  .first-column-second-square {
    grid-column: 1;
    height: calc(40vh - 5px);
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #E0CACA;
    border-radius: 8px;

  }

  .second-column-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2 / 3;
    align-items: stretch;
    grid-row: 1 / span 2;
    border-radius: 8px;

  }

  .rectangle {
    border: 1px solid #ccc;
    flex-grow: 1;
    margin: 5px 0;
    background-color: #E0CACA;
    border-radius: 8px;

  }

  .third-column-first-square {
    grid-column: 3;
    grid-row: 1;
    height: calc(40vh - 5px);
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #E0CACA;
    border-radius: 8px;

  }

  .third-column-second-square {
    grid-column: 3;
    grid-row: 2;
    height: calc(40vh - 5px);
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #E0CACA;
    border-radius: 8px;
  }  */
